$primary: #34C8D4;
$danger: #ff4136;
$secondary: #dcdcdc;
$info :#34c8d4;


 



$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       $info
    
  

);
@import "../node_modules/bootstrap/scss/bootstrap.scss"
